<HTML>
<HEAD>

<STYLE type="text/css">
<!--

	test { }

	h1 {
		font-size: 13 pt;
		color: "#0000cc"; 
		margin-left: -60pt;}

	h2 {
		font-size: 13 pt;
		color: "#009900";  
		margin-left: -50pt;}

	h3 {
		font-size: 13 pt;
		color: "#009966";  
		margin-left: -40pt;}

	h4 {
		font-size: 13 pt;
		color: "#cc6600";  
		margin-left: -30pt;}

	h5 {
		font-size: 13 pt;
		color: "#993333";  
		margin-left: -20pt;}

	h6 {
		font-size: 12 pt;
		color: "#00cc33";  
		margin-left: -10pt;}


	BODY { 	
		font-size: 11pt;
		color: #000000; 
		font-family: sans-serif;
		margin-left: 60pt;
		margin-right: 60pt;
	}

	a:active { 
		font-size: 11pt; 
		color: #008800;
		font-family: sans-serif;
	}

	a:link {
		font-size: 11pt; 
		color: #0000ff;
		font-family: sans-serif;
	}

	a:visited { 
		font-size: 11pt; 
		color: #880088;
		font-family: sans-serif;
	}

	p.h1link {
		margin-left: 45;
		text-indent: -45;
		font-size: 11pt; 
		font-family: sans-serif;
	}

	p.h2link {
		margin-left: 75;
		text-indent: -50;
		font-size: 11pt; 
		font-family: sans-serif;
	}

	p.h3link {
		margin-left: 80;
		text-indent: -55;
		font-size: 11pt; 
		font-family: sans-serif;
	}

	p.h4link {
		margin-left: 85;
		text-indent: -60;
		font-size: 11pt; 
		font-family: sans-serif;
	}

	p.h5link {
		margin-left: 90;
		text-indent: -65;
		font-size: 11pt; 
		font-family: sans-serif;
	}

-->
</STYLE>
</HEAD>
</HTML>


